extends ../index.jade

block content
  != partial("./hello-world")
  != partial("../_components", {code: partial("./components"), conditions: '0', components: '1', instances: '1'})

  div.app-wrapper
    div.controls
      ul
        li
          a(href="#add-hello-world") Add Hello World
        li
          a(href="#remove-hello-world") Remove Hello World

    small active filter
    div.active-filter

    small info
    div.examples-info

    small .component-area--main
    div.component-area.component-area--main

block scripts
  script(src="./app/Router.js")
  script(src="./components.js")
  script(src="./app/app.js")
  script.
    $(document).ready(function () {
      new app.HelloWorld({
        el: '.app-wrapper'
      });
    });

