extends ../index.jade

block sidebar
  div.sidebar-wrapper
    aside.sidebar
      != partial("../../_sidebar-header")
      != partial("../_examples-sidebar-content")

block content
  != partial("./commonjs-browserify")
  != partial("../_components", {code: partial("./components"), conditions: '0', components: '1', instances: '1'})

  div.app-wrapper
    small active filter
    div.active-filter

    small info
    div.example-info-wrapper
      div.examples-info

    small controls
    div.controls
      ul
        li
          a(href="#add-components") Add componentts
        li
          a(href="#remove-components") Remove components

    small .component-area--main
    div.component-area.component-area--main

block scripts
  script(src="bundle.vendors.js")
  script(src="bundle.js")
