div.components-js
  h4 components.js
  p Take a look at components.js to see component the setup for this example.
  p
    span conditions:
      strong
        != conditions

    span components:
      strong
        != components

    span instances:
      strong
        != instances

  button.components-js__toggle Show components.js
  div.components-js__code
    != code
