extends ../_custom_layout.jade

block header
  button.menu-toggle
    span.menu-text Toggle Menu
    span.menu-icon
      span.lines

block sidebar
  div.sidebar-wrapper
    aside.sidebar
      != partial("../_sidebar-header")
      != partial("_examples-sidebar-content")

block content
  != partial("./examples")

block common-example-scripts
  script(type="text/template" class="example-component-template").
    <h2>ExampleComponent:
      <span class="example-component__title"><%= id %></span>
    </h2>
    <button class="example-component__toggle-fullsize entypo-resize-full">
      <span>Toggle fullsize</span>
    </button>

    <p>This instance was created from the following instanceDefinition:</p>
    <pre><code><%= instanceDefinition %></code></pre>

    <p>This instance was created with the following arguments passed to the constructor:</p>
    <pre><code>arguments: <%= arguments %></code></pre>

    <div class="component-output"></div>

  script(type="text/template" class="active-filter-template").
    <pre><code><%= activeFilter %></code></pre>

  script(src="#{base_url}/js/vigorjs.componentmanager.js")
  script(type="text/javascript" src="#{base_url}/examples/jquery.flash.js")
  script(type="text/javascript" src="#{base_url}/examples/ExampleComponent.js")
  script(type="text/javascript" src="#{base_url}/examples/example-helpers.js")
