script(type="text/template" class="dashboard-component-template").
  <div class="dashboard-component__content">
    <div class="dashboard-component__header"></div>
    <div class="dashboard-component__chart">
      <canvas class="dashboard-component__canvas" width="300" height="260"></canvas>
    <div>
  </div>

