extends ../index.jade

block includes
  link(rel="stylesheet" href="./css/styles.css")

block content
  != partial("./render-done")
  != partial("../_components", {code: partial("./components"), conditions: '0', components: '1', instances: '5'})

  //- Templates
  != partial("./templates")
  != partial("./components/chart-components/templates")
  != partial("./components/menu-component/templates")
  != partial("./components/header-component/templates")

  div.app-wrapper.render-done-example
    div.overlay
      button.start-example-btn Start Application

    aside.sidebar.component-area.component-area--menu
    main.main
      header.header.component-area.component-area--header
        button.menu-toggle(data-order="1")
          span.lines

      section.content
        div.content-wrapper
          div.page.page--one.current-page.page--on-top.component-area--main
          div.page.page--two


block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js")
  script(src="./components/BaseComponent.js")
  script(src="./components/chart-components/ChartModelBase.js")
  script(src="./components/chart-components/ChartComponentBase.js")
  script(src="./components/chart-components/linechart-component/LineChartModel.js")
  script(src="./components/chart-components/linechart-component/LineChartComponent.js")
  script(src="./components/chart-components/barchart-component/BarChartModel.js")
  script(src="./components/chart-components/barchart-component/BarChartComponent.js")
  script(src="./components/menu-component/MenuComponent.js")
  script(src="./components/header-component/HeaderComponent.js")
  script(src="./components.js")
  script(src="./app/Router.js")
  script(src="./app/FilterModel.js")
  script(src="./app/Preloader.js")
  script(src="./app/app.js")
  script.
    $(document).ready(function () {
      new app.Filter({
        el: '.app-wrapper'
      });
    });

