extends ../index.jade

block includes
  link(rel="stylesheet" href="./css/styles.css")

block sidebar
  div.sidebar-wrapper
    aside.sidebar
      != partial("../../_sidebar-header")
      != partial("../_examples-sidebar-content")

block content
  != partial("./example-app")
  != partial("../_components", {code: partial("./components"), conditions: '0', components: '1', instances: '5'})

  div.app-wrapper.example-app
    div.overlay
      button.start-example-btn Start Application

    aside.sidebar.component-area.component-area--sidebar

    main.main
      header.header.component-area.component-area--header
        button.example-app__menu-toggle(data-order="1")
          span.lines

      div.component-area--below-header
      section.content
        div.content-wrapper
          div.page.page--one.current-page.page--on-top.component-area--main
          div.page.page--two


block scripts
  script(src="https:///cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.min.js" data-main="main")
