script(type="text/template" class="preloader-template").
  <div class="preloader-wrapper">
    <div class="preloader__text">0/0 loaded</div>
    <div class="preloader__progress">
      <div class="preloader__fill"></div>
    </div>
  </div>

