.mini-profile-component {
  text-align: center;
  color: white;
  padding: 20px 10px;
  background: #cc4d4d;
}

.mini-profile__profile-picture {
  margin: 10px 0 0 0;
}

.mini-profile__image {
  display: inline-block;
  border: 3px solid white;
  border-radius: 100%;
}

.mini-profile__user-name {
  font-weight: bold;
}

.mini-profile__stats-header {
  font-size: 14px;
  font-weight: bold;
  color: #FFC2C2;
}

.mini-profile__stats-graph {
  position: relative;
  background: #A73F3F;
  height: 4px;
  margin: 10px 5px 0px;
}

.mini-profile__stats-bar {
  display: block;
  height: 4px;
  background: #F6D1D1;
  width: 0%;
  transition: .6s;
}