* {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Helvetica";
  background: #f4f4f7;
  color: #444;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

a {
  text-decoration: none;
}

pre {
  border: 1px solid #555;
  padding: 10px;
  line-height: 20px;
  word-wrap: break-word;
}

.header {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 768px) {
  .content-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

@media (min-width: 768px) {
  .sidebar {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 $sidebarWidth;
    -ms-flex: 0 0 $sidebarWidth;
    flex: 0 0 $sidebarWidth;
  }
}

.sidebar {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.footer {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.app-wrapper small {
  display: block;
}

.vigor-component {
  padding: 10px;
  h2 {
    margin: 4px 0 6px;
  }
}

.examples-info {
  border: 1px dashed #555;
  background-color: #eee;
  margin: 0px 0px 10px 0px;
  padding: 20px 10px;
  font-size: 14px;
}

.component-area {
  position: relative;
  padding: 10px;
  border: 1px dashed #555;
}

.controls {
  margin: 10px 0px;
  button {
    display: inline-block;
    margin: 0 4px 4px 0;
  }
}