@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,600);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

* {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section, summary {
  display: block;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font: 16px/32px 'Roboto', sans-serif;
  background: #f4f4f7;
  color: #444;
}

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 48px;
  margin: 0;
}

h3, h4 {
  font-weight: 600;
}

a {
  text-decoration: none;
  word-wrap: break-word;
  color: $linkColor;
  &:visited {
    color: $visitedLinkColor;
  }
}

code, pre {
  font-family: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;
}

pre {
  border: 1px solid #ccc;
  margin: 0;
  padding: 10px;
  line-height: 20px;
  word-wrap: break-word;
}

code {
  font-weight: bold;
}

pre code {
  font-weight: inherit;
}
