@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

* {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  background: #f4f4f7;
  color: #444;

  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  text-decoration: none;
}

p {
  line-height: 24px;
}

pre {
  border: 1px solid #ccc;
  padding: 10px;
  line-height: 20px;
  word-wrap: break-word;
}

.alt {
  font-weight: normal;
}

.property-descriptions {
  border: 1px solid #ccc;
  padding: 10px;
  line-height: 24px;
  p {
    padding: 0 0 10px 0;
    margin: 0;
  }
  dt {
    margin-top: 20px;
    float: left;
    clear: left;
    width: 160px;
  }

  dd {
    display: block;
    margin: 20px 0 0 170px;
  }

  dt:first-child,
  dt:first-child + dd {
    margin-top: 0;
  }
  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

.header {
  flex: none;
}

.content-wrapper {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

@media (min-width: 768px) {
  .content-wrapper {
    flex-direction: row;
  }
}

.content {
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

@media (min-width: 768px) {
  .sidebar {
    flex: 0 0 $sidebarWidth;
  }
}

.sidebar {
  order: -1;
}

.footer {
  flex: none;
}

.app-wrapper small {
  display: block;
}

.vigor-component {
  padding: 10px;
  h2 {
    margin: 4px 0 6px;
  }
}

.examples-info {
  border: 1px dashed #555;
  background-color: #eee;
  margin: 0px 0px 10px 0px;
  padding: 20px 10px;
  font-size: 14px;
}

.component-area {
  position: relative;
  padding: 10px;
  border: 1px dashed #555;
}

.controls {
  margin: 10px 0px;
  button {
    display: inline-block;
    margin: 0 4px 4px 0;
  }
}

.components-js__code {
  display: none;
}

.components-js {
  h4 {
    margin-bottom: 8px;
  }
  p {
    margin-top: 0;
  }
  span strong {
    display: inline-block;
    margin: 0 10px;
  }
}