.app-wrapper small {
  display: block;
}

.examples-info {
  border: 1px dashed #555;
  line-height: 20px;
  background-color: #eee;
  margin: 0px 0px 10px 0px;
  padding: 20px 10px;
  font-size: 14px;
}

.component-area {
  position: relative;
  padding: 10px;
  border: 1px dashed #555;
  @extend %clearfix;
}

.controls {
  margin: 10px 0px;
  button {
    display: inline-block;
    margin: 0 4px 4px 0;
  }
  ul {
    @extend %clearfix;
    padding: 0;
    margin: 0;
  }
  li {
    float: left;
    list-style: none;
    width: 50%;
  }
}


.filter-by-url__header {
  margin-bottom: 4px;
}

.components-js__code {
  display: none;
}

.components-js {
  h4 {
    margin-bottom: 8px;
  }
  p {
    margin-top: 0;
  }
  span strong {
    display: inline-block;
    margin: 0 10px;
  }
}

