$exampleComponentMargin: 0px;

.example-component {
  position: relative;
  color: black;
  width: 100%;
  height: 220px;
  float: left;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin: 4px $exampleComponentMargin;
  padding: 10px;
  h2 {
    line-height: 30px;
  }
}

.example-component__title {
  display: block;
}

.example-component__toggle-fullsize {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  line-height: 30px;
  text-align: center;
  color: $textColor;
  padding: 0;
  margin: 0;
  outline: none;
  background: $darkGray;
  opacity: 0.9;
  transition: .3s;
  span {
    display: none;
    text-indent: -999em
  }
  &:hover {
    background: #ccc;
  }
}

@media (min-width: 900px) {
  $exampleComponentMargin: 6px;
  .example-component {
    margin: $exampleComponentMargin;
    max-width: calc(50% - #{$exampleComponentMargin * 2});
  }
}

@media (min-width: 1200px) {
  $exampleComponentMargin: 6px;
  .example-component {
    margin: $exampleComponentMargin;
    max-width: calc(33.33% - #{$exampleComponentMargin * 2});
  }
}

.example-component.example-component--fullsize {
  $exampleComponentMargin: 6px;
  max-width: calc(100% - #{$exampleComponentMargin * 2});
  height: auto;
}
