.app-wrapper small {
  display: block;
}

.example-info-wrapper {
  background: #efecf4;
  padding: .5em;
}

.examples-info {
  border: 1px solid #ccc;
  line-height: 20px;
  padding: 20px 10px;
  font-size: 14px;
}

.component-area {
  position: relative;
  padding: 10px;
  border: 1px dashed $dashedBorderColor;
  @extend %clearfix;
}

.controls {
  margin: 10px 0px;

  button {
    display: inline-block;
    margin: 0 4px 4px 0;
  }

  ul {
    @extend %clearfix;
    margin: 0;
    padding: 10px;
    border: 1px dashed $dashedBorderColor;
    max-height: 300px;
    overflow-y: auto;
  }

  li {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 20px;
    list-style: none;
    transition: background-color 0.4s ease-out;
    &:hover {
      background-color: #E9E8E8;
    }
  }

  h4 {
    font-weight: bold;
  }

  p {
    margin: 0 0 16px 0;
  }

  a {
    display: block;
  }
}

.components-js__code {
  display: none;
}

.components-js {
  h4 {
    margin-bottom: 8px;
  }
  p {
    margin-top: 0;
  }
  span strong {
    display: inline-block;
    margin: 0 10px;
  }
}

.reorder-component {
  h2 {
    font-size: 20px;
    padding: 2px 10px;
  }
}