.sidebar {
  position: relative;
  background: #2a2d33;
  color: #eee;
  h4 {
    text-indent: 10px;
  }
}

// .sidebar-content {
//   position: fixed;
//   height: 100%;
//   width: $sidebarWidth;
//   overflow: auto;
// }

.sidebar_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar__link {
  color: inherit;
  text-decoration: none;
  display: block;
  line-height: 40px;
  padding: 4px 0px;
  text-indent: 20px;
}

.sidebar__link--active {
  background: #222;
}