.sidebar-wrapper {
  display: flex;
  flex-direction: column;
}

.sidebar {
  position: relative;
  width: $sidebarWidth;
  background: $orange;
  color: #fff;
  flex: 1;

  .link--active {
    text-decoration: underline;
  }
}

.sidebar-content {
  padding: 20px 30px;
}

.sidebar_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar__title {
  margin-top: 38px;
  font-size: 24px;
  letter-spacing: 0.7px;
}

.sidebar__link {
  display: block;
  color: #aaa;
  font-size: 16px;
  text-decoration: none;
  line-height: 29px;
  font-weight: 900;

  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  // &:visited {
  //   color: #777;
  // }

  color: white;
  &:visited {
    color: white;
  }
}
