.sidebar-wrapper {
  display: flex;
  flex-direction: column;
}

.sidebar {
  position: relative;
  width: $sidebarWidth;
  background: #2a2d33;
  color: #eee;
  flex: 1;
  h4 {
    text-indent: 10px;
  }
  .link--active {
    background: #222;
  }
}

.sidebar-content {
  padding: 12px 0;
}

.sidebar_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar__link {
  display: block;
  color: #aaa;
  font-size: 15px;
  text-decoration: none;
  line-height: 30px;
  padding: 4px 0px;
  text-indent: 20px;

  &:visited {
    color: #777;
  }
}
