$headerHeight: 64px;
$footerHeight: 40px;
$sidebarWidth: 280px;
$pageMaxWidth: 1400px;
$breakpointLarge: 768px;
$breakpointXLarge: 1200px;

$linkColor: green;
$visitedLinkColor: pink;
$dashedBorderColor: #aaa;

$textColor: white;
$darkGray: #9b9b9b;
$orange: #efc9b6;