$headerHeight: 64px;
$footerHeight: 40px;
$sidebarWidth: 288px;
$sidebarHeaderHeight: 288px;
$pageMaxWidth: 1400px;
$breakpointLarge: 768px;
$breakpointXLarge: 1200px;

$linkColor: white;
$visitedLinkColor: white;
$dashedBorderColor: #aaa;

// $textColor: #413A3A;
$textColor: #fff;
$darkGray: #9b9b9b;
$orange: #efc9b6;
$lightBlue: #9fb9c2;