extends ../_custom_layout.jade

block sidebar
  - links = ['initialize', 'updateSettings', 'refresh', 'serialize', 'parse', 'clear', 'dispose', 'addListeners', 'addConditions', 'addComponents', 'addInstances', 'updateComponents', 'updateInstances', 'removeComponent', 'removeInstance', 'removeListeners', 'setContext', 'setComponentClassName', 'setTargetPrefix', 'getComponentClassName', 'getTargetPrefix', 'getActiveFilter', 'getConditions', 'getComponentById', 'getInstanceById', 'getComponents', 'getInstances', 'getActiveInstances', 'getActiveInstanceById', 'postMessageToInstance']
  aside.sidebar
    div.sidebar-content
      h4.sidebar__title Introduction
      ul.sidebar_list
        li.sidebar_list-item
          a.sidebar__link(href="#introduction") Introduction

        li.sidebar_list-item
          a.sidebar__link(href="#dependencies") Dependencies

        li.sidebar_list-item
          a.sidebar__link(href="#components") Components

        li.sidebar_list-item
          a.sidebar__link(href="#getting-started") Getting started

      h4.sidebar__title Settings
      ul.sidebar_list
        li.sidebar_list-item
          a.sidebar__link(href="#settings") The settings object

        li.sidebar_list-item
          a.sidebar__link(href="#component-definitions") ComponentDefinitions

        li.sidebar_list-item
          a.sidebar__link(href="#instance-definitions") InstanceDefinitions

        li.sidebar_list-item
          a.sidebar__link(href="#filter") Filter

        li.sidebar_list-item
          a.sidebar__link(href="#conditions") Conditions

        li.sidebar_list-item
          a.sidebar__link(href="#other-settings") Other settings


      h4.sidebar__title Public methods
      ul.sidebar_list
        each link in links
          li.sidebar_list-item
            a.sidebar__link(href="#" + link)=link

      h4.sidebar__title Events
      ul.sidebar_list
        li.sidebar_list-item

block content

  section.main-section
    h2 Introduction
    section.sub-section
      != partial('./introduction')

    section.sub-section
      != partial('./dependencies')

    section.sub-section
      != partial('./components')

    section.sub-section
      != partial('./getting-started')

  section.main-section
    h2 Settings
    section.sub-section
      != partial('./settings')
    section.sub-section
      != partial('./componentDefinitions')
    section.sub-section
      != partial('./instanceDefinitions')
    section.sub-section
      != partial('./filter')
    section.sub-section
      != partial('./conditions')
    section.sub-section
      != partial('./other-settings')

  section.main-section
    h2 Public methods
    each link in links
      section.sub-section
        != partial(link)

  section.main-section
    h2 Classes
    section.sub-section
      != partial('./IframeComponent')

  section.main-section
    h2 Events
