extends ../_custom_layout.jade

block sidebar
  aside.sidebar
    - links = ['initalize', 'updateSettings', 'refresh', 'serialize', 'parse', 'clear', 'dispose', 'addListeners', 'addConditions', 'addComponents', 'addInstances', 'updateComponents', 'updateInstances', 'removeComponent', 'removeInstance', 'removeListeners', 'setContext', 'setComponentClassName', 'setTargetPrefix', 'getComponentClassName', 'getTargetPrefix', 'getActiveFilter', 'getConditions', 'getComponentById', 'getInstanceById', 'getComponents', 'getInstances', 'getActiveInstances', 'getActiveInstanceById', 'postMessageToInstance']
    h4.sidebar__title Settings
    ul.sidebar_list
      li.sidebar_list-item
        a.sidebar__link(href="#settings") The "settings" object

    h4.sidebar__title Public methods
    ul.sidebar_list
      each link in links
        li.sidebar_list-item
          a.sidebar__link(href="#" + link)=link

    h4.sidebar__title Events
    ul.sidebar_list
      li.sidebar_list-item

block content
  != partial("./vigorjs.componentmanager.docs")

