.vigorjs-controls {
  position: fixed;
  bottom: -374px;
  right: 0;
  height: 400px;
  width: 400px;
  background: white;
  transition: all 0.15s ease-out;
  z-index: 9999;
  border: 1px solid #eee;
}

.vigorjs-controls--active {
  bottom: 0;
}

.vigorjs-controls__toggle-controls {
  display: block;
  border: none;
  width: 100%;
  padding: 6px;
  outline: none;
  cursor: pointer;
}

.vigorjs-controls__step {
  margin: 10px;
}

.vigorjs-controls__field label {
  display: block;
}

.vigorjs-controls__header {
  font-size: 16px;
}