.vigorjs-controls {
  position: fixed;
  bottom: -400px;
  right: 20px;
  height: 400px;
  width: 400px;
  padding: 20px 10px 10px 10px;
  background: white;
  transition: all 0.15s ease-out;
  z-index: 9999;
  border: 1px solid #eee;
}

.vigorjs-controls--active {
  bottom: 0;
}

.vigorjs-controls__toggle-controls {
  position: absolute;
  display: block;
  border: none;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 6px;
  outline: none;
  cursor: pointer;
}

.vigorjs-controls__field label {
  display: block;
}

.vigorjs-controls__header {
  padding: 10px 0px;
  border-bottom: 1px solid #eee;
}
.vigorjs-controls__title {
  font-size: 16px;
}

.vigorjs-controls__forms {
  position: relative;
}

.vigorjs-controls__wrapper {
  position: absolute;
  top: 800px;
  opacity: 0;
  height: 310px;
  overflow-y: auto;
  transition: all 0.4s ease-out;
}

.vigorjs-controls__wrapper--show {
  top: 0;
  opacity: 1;
}

.component-area--selected {
  border: 1px solid red;
}