/*
General
 */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}
a {
  color: #00bfdd;
}

.link {
  text-decoration: none;
}

/*
Layouts
 */
.app-wrapper {
  position: relative;
  min-height: 100%;
}

.header {
  position: relative;
  padding: 0px 20px;
  height: 80px;
}

.content-wrapper {
  position: relative;
  padding: 0 0 100px 240px;
}

.main-content {
  border: 1px solid green;
}

.footer {
  border: 1px solid red;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*
Header
 */
.header h1 {
  margin: 0;
  padding: 0;
  float: left;
  width: 70%;
  line-height: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: lighter;
  color: #bbb;
}

.component-area--header {
  float: right;
  width: 30%;
  height: 100%;
}

.main-menu {
  padding: 0;
  margin: 0;
  height: 80px;
}

.navigation::after,
.main-menu::after {
  content: "";
  display: table;
  clear: both;
}

.main-menu__list-item {
  display: table;
  height: 100%;
  float: left;
  margin: 0 6px;
}

.main-menu__link {
  display: table-cell;
  vertical-align: middle;
}

/*
Sidebar
 */
.sidebar {
  width: 240px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #222;
  z-index: 1;
}

/*
Submenu
 */
.sub-menu {
  list-style: none;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 10px 0px;
  margin: 0;
}

.sub-menu__link {
  display: block;
  padding: 8px 14px;
  color: #999;
}

.sub-menu__link:hover,
.sub-menu__link--active {
  background: #323232;
  color: white;
}




/*
Example components
*/
/* Login*/
.login {
  height: 300px;
  margin: 100px auto;
  width: 100%;
  max-width: 460px;
}

.login__field {
  font-size: 18px;
  line-height: 30px;
  padding: 10px;
  display: block;
  margin: 10px 0;
  width: 100%;
}

.login__button {
  text-transform: uppercase;
  line-height: 30px;
  font-size: 14px;
  border: none;
  padding: 10px 20px;
  min-width: 140px;
  width: 100%;
  cursor: pointer;
}


/*Marquee*/
.marquee {
  position: relative;
  height: 300px;
  background: pink;
}
.marquee p {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -10px;
  text-align: center;
}

/*Profile Overview*/
.profile-overview {
  position: relative;
  height: 140px;
  background: silver;
}
.profile-overview p {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -10px;
  text-align: center;
}