script(type="text/template" class="list-template").
  <% _.each(listItems, function(item, i) { %>
    <li class="list-component__list-item">
      <% if (item.type == 'banner') { %>
        <div class="component-area component-area--list-pos<%= i+1 %>"></div>
      <% } else { %>
        <a href="<%= item.href %>" class="list-component__link">
          <h3 class="list-component__title">
            <%= item.title%>
          </h3>
          <p class="list-component__desc"><%= item.desc %></p>
          <small class="list-component__date">2015-10-20</small>
        </a>
      <% } %>
    </li>
  <% }); %>
