script(type="text/template" class="linechart-component-template").
  <div class="linechart-component__content">
    <div class="linechart-component__header"><%= title %></div>
    <div class="linechart-component__chart">
      <canvas class="linechart-component__canvas" width="300" height="260"></canvas>
    <div>
  </div>

