script(type="text/template" class="barchart-component-template").
  <div class="barchart-component__content">
    <div class="barchart-component__header"><%= title %></div>
    <div class="barchart-component__chart">
      <canvas class="barchart-component__canvas" width="300" height="260"></canvas>
    <div>
  </div>

