$barchartComponentMinHeight: 250px;

.barchart-component {
  position: relative;
  padding: 10px;
  min-height: $barchartComponentMinHeight;
  width: 100%;
}

.barchart-component__content {
  min-height: $barchartComponentMinHeight;
  background: #1e2430;
}

.barchart-component__header {
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  color: #eee;
}

.barchart-component__chart {
  width: 100%;
  height: 260px;
}

.barchart-component__canvas {
  display: inline-block;
  width: 100%;
  height: 100%;
}

@media (min-width: 920px) {
  .barchart-component {
    width: 50%;
  }
}

