script(type="text/template" class="menu-template").
  <ul class="menu">
    <% _.each(menuItems, function(item, i) { %>
      <li class="menu__item">
        <a href="<%= item.href %>" class="menu__link"><%= item.label %></a>
        <% if (item.submenu) { %>
          <ul class="menu__sub">
          <% _.each(item.submenu, function(subitem, i) { %>
            <li><a href="<%= subitem.href %>" class="menu__link"><%= subitem.label %></a></li>
          <% }); %>
          </ul>
        <% } %>
      </li>
    <% }); %>
  </ul>
