.linechart-component {
  width: 100%;
}

// TODO refactor css (ex. have generic styles for this)
.linechart-component__header {
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  color: #eee;
}