extends ../index.jade

block sidebar
  div.sidebar-wrapper
    aside.sidebar
      != partial("../../_sidebar-header")
      != partial("../_examples-sidebar-content")

block content
  != partial("./amd-requirejs")
  != partial("../_components", {code: partial("./components"), conditions: '0', components: '1', instances: '1'})

  div.app-wrapper
    small active filter
    div.active-filter

    small info
    div.example-info-wrapper
      div.examples-info

    small controls
    div.controls
      ul
        li
          a(href="#add-components") Add componentts
        li
          a(href="#remove-components") Remove components

    small .component-area--main
    div.component-area.component-area--main

block scripts
  script(src="https:///cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.min.js" data-main="config")

  //- To run compiled build run:
  //- node r.js -o build-vendors.js
  //- node r.js -o build.js
  //- and uncomment lines below (and comment out script tag above)

  //- script(src="dist/vendor-built.js")
  //- script(src="dist/main-built.js")
