<div class="chart-component__content">
  <figure class="chart-component__chart">
    <div class="chart-component__values">
      <div class="chart-component__slide-wrapper">
        <div class="chart-component__slide chart-component__slide--first">
          <span class="chart-component__used-value"></span>
          <span class="chart-component__used-suffix"></span>
        </div>
        <div class="chart-component__slide chart-component__slide--second">
          <span class="chart-component__used-percentage"></span>
          <span class="chart-component__used-percentage-suffix">%</span>
        </div>
      </div>
    </div>
    <canvas class="chart-component__canvas" width="300" height="260"></canvas>
  </figure>
  <h3 class="chart-component__title"></h3>
  <div class="chart-component__stats">
    <span class="chart-component__stats-files"></span>
    <span class="chart-component__stats-used"></span>
    <span class="chart-component__stats-total"></span>
    <span class="chart-component__stats-limit"></span>
  </div>
</div>
