<ul class="main-menu">
  <li class="main-menu__list-item">
    <a href="#" class="main-menu__link">Dashboard</a>
  </li>

  <li class="main-menu__list-item">
    <a href="#movies" class="main-menu__link">Movies</a>
  </li>

  <li class="main-menu__list-item">
    <a href="#photos" class="main-menu__link">Photos</a>
  </li>

  <li class="main-menu__list-item">
    <a href="#music" class="main-menu__link">Music</a>
  </li>

  <li class="main-menu__list-item">
    <a href="#links" class="main-menu__link">Links</a>
  </li>

  <li class="main-menu__list-item">
    <a href="#settings" class="main-menu__link">Settings</a>
  </li>
</ul>
