extends ../index.jade

block content
  != partial("./filter-by-url")
  != partial("../_components", {code: partial("./components"), conditions: '0', components: '1', instances: '6'})

  div.app-wrapper
    small .component-area--main
    div.component-area.component-area--main

block scripts
  script(src="./components.js")
  script(src="./app/Router.js")
  script(src="./app/app.js")
  script.
    $(document).ready(function () {
      new app.Filter({
        el: '.app-wrapper'
      });
    });

