.circular-chart-component {
  position: relative;
  width: 100%;

  .chart-component__chart {
    position: relative;
    height: 370px;
    padding: 0;
    margin: 0;
  }

  .chart-component__values {
    position: absolute;
    color: white;
    width: 180px;
    left: 50%;
    margin-left: -90px;
    top: 50%;
    height: 130px;
    margin-top: -65px;
    text-align: center;
    text-shadow: 4px 6px 8px rgba(0,0,0,0.4);
    cursor: pointer;
    overflow: hidden;
  }

  .chart-component__used-value,
  .chart-component__used-percentage {
    display: block;
    font-weight: bold;
    font-size: 40px;
  }

  .chart-component__used-suffix {
    font-size: 20px;
    display: block;
    text-transform: lowercase;
  }

  .chart-component__slide-wrapper {
    position: relative;
    width: 200%;
    height: 100%;
    display: table;
    transition: transform .3s ease-out;
  }

  .chart-component__slide-wrapper--active {
    transform: translateX(-50%);

    .chart-component__slide--first {
      opacity: 0;
    }

    .chart-component__slide--second {
      opacity: 1;
    }
  }

  .chart-component__slide {
    width: 50%;
    height: 100%;
    display: table-cell;
    padding-top: 18px;
    vertical-align: middle;
    transition: opacity .3s ease-out;
  }

  .chart-component__slide--second {
    opacity: 0;
  }

  .chart-component__title {
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    color: white;
  }

  .chart-component__stats {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    p {
      margin: 0;
    }
  }
}