.list-component {
  padding: 10px 30px;
  .component-area {
    @include clearfix;
  }
}

.list-component__list {
  margin: 0;
  padding: 0;
  @include clearfix;
}

.list-component__list-item {
  padding: 20px 0;
  list-style: none;
  border-bottom: 1px dashed #383434;
  @include clearfix;
}

.list-component__thumb-wrapper {
  float: left;
  width: 80px;
  height: 80px;
}

.list-component__conent {
  margin-left: 100px;
}

.list-component__link {
  display: block;
  color: #fff;
}

.list-component__title {
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  margin: 0 0 10px 0;
}

.list-component__desc {
  line-height: 24px;
  font-size: 16px;
  color: #999;
}

.list-component__date {
  float: right;
}