.linechart-component {
  position: relative;
  width: 100%;

  .chart-component__chart {
    height: 300px;
  }

  .linecustom-legend {
    position: absolute;
    top: 0;
    right: 0;
    width: 170px;
    color: #fff;
    list-style: none;
    line-height: 22px;
    font-size: 14px;

    span {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }
  }
}

