extends ../index.jade

block sidebar
  div.sidebar-wrapper
    aside.sidebar
      != partial("../../_sidebar-header")
      != partial("../_examples-sidebar-content")

block content
  != partial("./filter-by-custom-properties")
  != partial("../_components", {code: partial("./components"), conditions: '0', components: '1', instances: '8'})

  div.app-wrapper
    small active filter
    div.active-filter

    small info
    div.example-info-wrapper
      pre
        code.hljs.markdown.examples-info

    small controls
    div.controls
      div.options
        p Filter on custom component property "componentStyle":
        label
          input(type="radio" name="component-style" class="" value="all")
          | all

        label
          input(type="radio" name="component-style" class="bar" value="custom")
          | custom

        p Filter on the custom instance property "type":
        label
          input(type="radio" name="type" class="all" value="all" checked)
          | all

        label
          input(type="radio" name="type" class="foo" value="grey-component")
          | grey-component

        label
          input(type="radio" name="type" class="bar" value="green-component")
          | green-component

        label
          input(type="radio" name="type" class="bar" value="red-component")
          | red-component

        label
          input(type="radio" name="type" class="" value="yellow-component")
          | yellow-component (component level)

        p Filter on url:
        label
          input(type="radio" name="url" class="all" value="all" checked)
          | all

        label
          input(type="radio" name="url" class="foo" value="foo/1")
          | foo/1

        label
          input(type="radio" name="url" class="bar" value="bar/1")
          | bar/1

        p Options:
        label
          input(type="checkbox" class="add" checked)
          | Add

        label
          input(type="checkbox" class="remove" checked)
          | Remove

        label
          input(type="checkbox" class="merge" checked)
          | Merge

        label
          input(type="checkbox" class="invert")
          | Invert

      button.refresh Refresh

    small .component-area--main
    div.component-area.component-area--main

block scripts
  script(src="./components.js")
  script(src="./app/app.js")
  script.
    $(document).ready(function () {
      new app.Filter({
        el: '.app-wrapper'
      });
    });

