$button-size : 1.6rem;
$transition: .3s; // increase this to see the transformations in slow-motion
$color: white;

@mixin line {
  display: inline-block;
  width: $button-size;
  height: 3px;
  background: $color;
  transition: $transition;
}

.menu-toggle {
  margin: 10px 8px;
  display: inline-block;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  background: none;
  border: none;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &:active {
    transition: 0;
    background: rgba(0,0,0,.1);
  }
}

.lines {
  //create middle line
  @include line;
  position: relative;

  &:before, &:after {
    @include line;
    position: absolute;
    left: 0;
    content: '';
  }
  &:before { top: 7px; }
  &:after { top: -7px; }
}


.menu-toggle.close .lines {
  background: transparent;

  &:before, &:after{
    transform-origin: 50% 50%;
    top:0;
    width: $button-size;
  }

  &:before {
    transform: rotate3d(0,0,1,45deg);
  }
  &:after {
    transform: rotate3d(0,0,1,-45deg);
  }
}