@import "variables";

.render-done-example {
  @import "preloader";
  @import "../components/dashboard-component/css/dashboard-component";
  @import "../components/menu-component/css/menu-component";

  position: relative;
  min-height: 300px;
  margin-top: 20px;
  background: #18222d;
  overflow: hidden;

  &.menu-visible {
    .main {
      transform: translateX($sidebarWidth);
    }
  }

  .header {
    height: 50px;
    background: #33455e;
  }

  .overlay {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
  }

  .overlay--visible {
    display: block;
  }

  .component-area--main {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    // border: none;
    padding: 0;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .component-area--menu{
    border: none;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: $sidebarWidth;
    z-index: 0;
  }

  .vigor-component {
    visibility: hidden;
    position: absolute;
  }

  .dashboard-component {
    float: left;
    padding: 5px;
  }

  .main {
    position: relative;
    background: #18222d;
    transition: transform 0.2s ease-out;
  }

  .content {
    overflow: hidden;
    .component-area {
      border: 0;
      &.component-area--has-components {
        border: 1px dashed #666;
      }
    }
  }


  .content-wrapper {
    width: 300%;
    position: relative;
  }

  .content__slide {
    width: 100%;
    position: relative;
  }

  .component-area--depth1 {
    background: red;
  }

  .component-area--depth2 {
    background: blue;
  }

  .component-area--depth3 {
    background: green;
  }
}