@import "variables";

.render-done-example {
  @import "preloader";
  @import "menu-button";
  @import "../components/chart-components/chart-components";
  @import "../components/chart-components/barchart-component/css/barchart-component";
  @import "../components/chart-components/linechart-component/css/linechart-component";
  @import "../components/menu-component/css/menu-component";

  position: relative;
  min-height: $appMinHeight;
  margin-top: 20px;
  overflow: hidden;

  .main {
    transition: transform 0.2s ease-out;
    background: #000;
    z-index: 1;
    position: relative;
  }

  &.menu-visible {
    .main {
      transform: translateX($sidebarWidth);
    }
  }

  .header {
    height: $headerHeight;
    background: $background;
  }

  .sidebar {
    border: none;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: $sidebarWidth;
    z-index: 0;
  }

  .overlay {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
  }

  .overlay--visible {
    display: block;
  }

  .content {
    padding: 0;
  }

  .content-wrapper {
    position: relative;
    min-height: $appMinHeight;
  }

  .page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    background: $background;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .vigor-component {
      float: left;
      visibility: hidden;
    }
  }

  .page--on-top {
    z-index: 1;
  }

  .component-area {
    border: none;
  }

}